/node_modules
/public/storage
/storage/*.key
/.idea
Homestead.json
Homestead.yaml
.env
/vendor
/vendor/bin
/vendor/classpreloader
/vendor/composer
/vendor/dnoegel
/vendor/doctrine
/vendor/fzaninotto
/vendor/hamcrest
/vendor/jakub-onderka
/vendor/jeremeamia
/vendor/laravel
/vendor/league
/vendor/mockery
/vendor/monolog
/vendor/mtdowling
/vendor/myclabs
/vendor/nesbot
/vendor/nikic
/vendor/paragonie
/vendor/phpdocumentor
/vendor/phpspec
/vendor/phpunit
/vendor/psr
/vendor/psy
/vendor/ramsey
/vendor/sebastian
/vendor/swiftmailer
/vendor/symfony
/vendor/vlucas
/vendor/webmozart
